{% extends './base.html' %}
{% block title %}{{titulo}}{% endblock %}
{% block content %}
<div class=""row">
    <div class="col-md-4 offset-md-4 my-auto">


                <form action="/crear-tarea" method="post">
                    <h2 class="display-4 text-center mt-4 titulo"> Login</h2>
                    <input type="text" name="usuario" placeholder="Usuario" class="form-control" autofocus>
                    <input type="text" name="paswword" placeholder="Paswword" class="form-control" autofocus>
                    <button type="submit" class="btn btn-primary btn-block">Acceder</button>
                    <p>Si no est&aacute; registrado<a class="ps-5" href="/register-user">reg&iacute;strate</a></p>
                 </form>


    </div>
</div>


{% endblock %}